/* Global reset and body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
  }
  
  /* Homepage container styles */
  .homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-image: url('../../public/bkg1.jpg'); /* Path to your JPG background image */
    background-size: 100%; /* Cover the entire area */
    background-position: center; /* Center the background image */
  }
  
  .homepage-container img {
    max-height: 70%;
    max-width: 70%;
    height: auto; /* Maintain aspect ratio */
  }
  