/* Global reset and body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
  }
  
  /* Homepage container styles */
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-image: url('../../public/bkg4.jpg'); /* Path to your JPG background image */
    background-size: cover; /* Cover the entire area */
    background-position: center bottom; /* Center the background image */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  